#city-input, #weather-output {
    max-width: 400px;
    margin: 0 auto;
}
  
.banner {
    color: #FFD23F;
    font-family: sans-serif;
}

h1{
    font-size: 90px
}

p {
    font-style: italic;
    font-family: cursive;
}